$main-font : 'Roboto Slab', sans-serif;
$todo-card-font : 'Open Sans', sans-serif;

body {
  margin: 0;
  text-align: center;
}

.box {
  width: 100%;
  background-color: #E5F3F2;
  padding-top: 20px;
}

h1 {
  margin: 15px 0 12px 0;
  font-family: $main-font;
  font-size: 2.8em;
  font-weight: 700;
  text-align: center;
}

.logo {
  color: #00A79D;
  span {
    color: #6D6E71;
  }
}

.input {
  margin: 10px auto;
  padding: 3px 0px;
  height: 15px;
  width: 90%;
  border: 2px solid #D1D3D4;
  font-size: .9em;
  text-indent: 5px;
}

.todo {
  height: 80px;
  resize: none;
}

.save,
.show {
  margin: 0px 0 20px 0;
  height: 30px;
  background-color: #00A79D;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background-color: #045E55;
  }
  &:disabled {
    background-color: #939598;
    cursor: default;
  }
}

article {
  padding-left: 10px;
  width: 80%;
  border-bottom: 1px solid #D1D3D4;
  h5 {
    margin: 10px 0 0 0;
    color: #6D6E71;
    font-size: 1.4em;
  }
  p {
    margin: 10px 0 45px 0;
    color: #939598;
    font-family: $todo-card-font;
    font-size: 0.9em;
  }
  h6 {
    position: absolute;
    bottom: 17px;
    left: 80px;
    margin: 0;
    width: 50%;
    color: #6D6E71;
    font-size: 1em;
  }
}

.quality {
  position: absolute;
  bottom: 17px;
  left: 170px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

.entries {
  height: 60vh;
  width: 100%;
  overflow: auto;
}

.search-input {
  margin: 15px 0;
  padding: 3px 0px;
  height: 15px;
  width: 89%;
  border: 2px solid #D1D3D4;
  font-size: 0.9em;
  text-indent: 5px;
}

.todo-card {
  position: relative;
  margin: 0 auto;
  width: 89%;
  font-family: 'Roboto';
  text-align: left;
}

.delete {
  position: absolute;
  right: 5px;
  top: 3px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: transparent url(../images/delete.svg);
  border: none;
  &:hover {
    background-image: url(../images/delete-hover.svg);
  }
}

.upvote {
  position: absolute;
  bottom: 15px;
  left: 7px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: transparent url(../images/upvote.svg);
  border: none;
  &:hover {
    background-image: url(../images/upvote-hover.svg);
  }
}

.downvote {
  position: absolute;
  bottom: 15px;
  left: 35px;
  height: 20px;
  width: 20px;
  background: transparent url(../images/downvote.svg);
  border: none;
  cursor: pointer;
  &:hover {
    background-image: url(../images/downvote-hover.svg);
  }
}

.complete {
  position: absolute;
  right: 5px;
  bottom: 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #d1d3d4;
  color: #FFF;
  &:hover {
    background: #428bca;
  }
}

.completeTodo {
  opacity: 0.5;
}

@media screen and (min-width:600px) {
  .input, .search-input {
    width: 50%;
  }
  .todo {
    height: 15px;
  }
  .entries {
    margin: 0 auto;
    width: 50%;
  }
  .todo-card {
    width: 98%
  }
}
