$main-font : 'Roboto Slab', sans-serif;
$todo-card-font : 'Open Sans', sans-serif;
$main-font-color : #007faa;
$sub-font-color : #008080;
$disabled-color : #696969;
$header-color : #007a7c;
$header-span-color : #3455db;
$header-background-color : #E5F3F2;
$button-hover : #045E55;
$white : #FFF;
$bold : 700;
$pointer-cursor : pointer;
