body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  }

  .box {
  width: 100%;
  background-color: #E5F3F2;

}

 h1 {
  margin: 15px 0 50px 0;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.8em;
  font-weight: 700;
}

.logo {
  color: #00A79D;
}

span {
  color: #6D6E71;
}

article {
  border-bottom: 1px solid #D1D3D4;
  width: 80%;
  padding-left: 10px;

}
.input {
  margin: 10px auto;
  padding: 3px 0px;
  width: 90%;
  font-size: .4em;
}
.save {
  background-color: #00A79D;
  color: #FFFFFF;
  border: none;
  height: 5vh;
}
.save:hover {
  background-color: #045E55;
  /*color: #FFFFFF;*/
}

.body {
  line-height: normal;
  height: 100px;
}

h5 {
  color: #6D6E71;
  font-size: 1.8em;
  margin: 10px 0 0 0;
}
p {
  margin: 10px 0 40px 0;
  color: #939598;
  font-size: 1.2em;
}

h6 {
  width: 50%;
  position: absolute;
  left: 80px;
  bottom: -25px;
  font-size: 1em;
}
.quality {
  position: absolute;
  left: 140px;
  bottom: 12px;
  font-size: 1em;
  /*margin: auto;*/
}
.entries {
  width: 100%;
  height: 60vh;
}

.search-input {
  width: 89%;
  margin-top: 15px;

}

.idea-card {
  position: relative;
  width: 89%;
  margin: 0 auto;
  font-family: 'Roboto';
  text-align: left;
}

.delete {
  position: absolute;
  top: 5px;
  right: 12px;
  background-image: url(images/delete.svg);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.delete:hover {
  background-image: url(images/delete-hover.svg);
}
.upvote {
  position: absolute;
  bottom: 10px;
  left: 7px;
  background-image: url(images/upvote.svg);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.upvote:hover {
  background-image: url(images/upvote-hover.svg);
}
.downvote {
  position: absolute;
  bottom: 10px;
  left: 35px;
  background-image: url(images/downvote.svg);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.downvote:hover {
  background-image: url(images/downvote-hover.svg);
}
