body {
  text-align: center;
  margin: -14px 0 0 0;
}

.box {
  width: 100%;
  background-color: #E5F3F2;

}

 h1 {
  margin: 15px 0 50px 0;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.8em;
  font-weight: 700;
}

.logo {
  color: #00A79D;
}

span {
  color: #6D6E71;
}

article {
  border-bottom: 1px solid #D1D3D4;
  width: 80%;
  padding-left: 10px;

}
.input {
  margin: 10px auto;
  padding: 3px 0px;
  width: 90%;
  height: 15px;
  font-size: .9em;
  border: 2px solid #D1D3D4;
}
.save {
  background-color: #00A79D;
  color: #FFFFFF;
  border: none;
  height: 28px;
  font-size: 14px;
}
.save:hover {
  background-color: #045E55;
}

h5 {
  color: #6D6E71;
  font-size: 1.4em;
  margin: 10px 0 0 0;
}
p {
  margin: 10px 0 45px 0;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}

h6 {
  width: 50%;
  position: absolute;
  left: 80px;
  bottom: -20px;
  font-size: 1em;
  color: #6D6E71;
}
.quality {
  position: absolute;
  left: 140px;
  bottom: 17px;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.entries {
  width: 100%;
  height: 60vh;
}

.search-input {
  width: 89%;
  height: 15px;
  margin: 15px 0;
  font-size: 0.9em;
  border: 2px solid #D1D3D4;
  padding: 3px 0px;
}

.idea-card {
  position: relative;
  width: 89%;
  margin: 0 auto;
  font-family: 'Roboto';
  text-align: left;
}

.delete {
  position: absolute;
  top: 3px;
  right: 5px;
  background-image: url(images/delete.svg);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.delete:hover {
  background-image: url(images/delete-hover.svg);
}
.upvote {
  position: absolute;
  bottom: 15px;
  left: 7px;
  background-image: url(images/upvote.svg);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.upvote:hover {
  background-image: url(images/upvote-hover.svg);
}
.downvote {
  position: absolute;
  bottom: 15px;
  left: 35px;
  background-image: url(images/downvote.svg);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.downvote:hover {
  background-image: url(images/downvote-hover.svg);
}
